<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StandManagementProject.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
	    <PackageReference Include="Guna.UI2.WinForms" Version="2.0.3.3"/>
    </startup>
  <connectionStrings>
    <add name="sqlcon" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=store;Integrated Security=True" />
  </connectionStrings>
    <userSettings>
        <StandManagementProject.Properties.Settings>
            <setting name="Key" serializeAs="String">
                <value />
            </setting>
            <setting name="Creation" serializeAs="String">
                <value />
            </setting>
            <setting name="Expiration" serializeAs="String">
                <value />
            </setting>
            <setting name="Days_left" serializeAs="String">
                <value />
            </setting>
            <setting name="Key_crypt" serializeAs="String">
                <value />
            </setting>
            <setting name="Server" serializeAs="String">
                <value />
            </setting>
            <setting name="Initial_catalog" serializeAs="String">
                <value />
            </setting>
            <setting name="Persist_Security_Info" serializeAs="String">
                <value />
            </setting>
            <setting name="User_ID" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="MultipleActiveResultSets" serializeAs="String">
                <value />
            </setting>
            <setting name="Encrypt" serializeAs="String">
                <value />
            </setting>
            <setting name="TrustServerCertificate" serializeAs="String">
                <value />
            </setting>
            <setting name="Connection_Timeout" serializeAs="String">
                <value />
            </setting>
            <setting name="FullString" serializeAs="String">
                <value />
            </setting>
        </StandManagementProject.Properties.Settings>
    </userSettings>
</configuration>
